@mixin stretch-full-width() {
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw + 50% - 8px);

    @include media-breakpoint-down(md) {
        margin-left: calc(-50vw + 50%);
    }
}

@mixin make-auto-col() {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}
