// Fonts
$font-family-poppins:'Poppins', sans-serif;
$montserrat-regular: 400;
$montserrat-semi-bold: 600;
$montserrat-light: 300;
$montserrat-bold: 700;
$montserrat-extra-bold: 800;

// Z-index

// Grid
$electro-v2-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
) !default;
